.detail-container-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.detail-container-master-data {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.detail-container-sidebar {
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 1px 0 0;
  margin-right: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.detail-container-logocontainer {
  width: 240px;
  display: flex;
  padding: 0 24px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.detail-container-logo {
  display: flex;
  padding: 24px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
}
.detail-container-logo1 {
  width: 21px;
  height: 24px;
  position: relative;
  margin-right: 12px;
}
.detail-container-text {
  color: var(--dl-color-primary-60);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-menu-bar {
  width: 240px;
  display: flex;
  z-index: 1;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.detail-container-menu {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.detail-container-home {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.detail-container-text02 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-menu1 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(28, 124, 84, 1);
  border-style: solid;
  border-width: 0 4px 0 0;
  margin-bottom: 0px;
  background-color: var(--dl-color-primary-10);
}
.detail-container-database {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.detail-container-text04 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-menu2 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.detail-container-operator {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.detail-container-text06 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-menu3 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.detail-container-ticket {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.detail-container-text08 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-menu4 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.detail-container-monitor {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.detail-container-text10 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-menu5 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.detail-container-audio {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.detail-container-text12 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-menu6 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.detail-container-video {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.detail-container-text14 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-account {
  width: 240px;
  display: flex;
  z-index: 2;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.detail-container-usercontainer {
  display: flex;
  padding: 0 24px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.detail-container-user {
  display: flex;
  padding: 16px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
}
.detail-container-text16 {
  color: var(--dl-color-neutral-70);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-menu7 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.detail-container-key {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.detail-container-text18 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-menu8 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.detail-container-logout {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 8px;
}
.detail-container-text20 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-button {
  top: 50%;
  right: -24px;
  display: flex;
  padding: 12px;
  z-index: 3;
  position: absolute;
  box-shadow: 4px 8px 40px 0px rgba(205, 209, 205, 0.20000000298023224) ;
  align-items: center;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.detail-container-arrow-left {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-master-data1 {
  height: 100%;
  display: flex;
  position: relative;
  max-width: 25%;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 1px 0 0;
  margin-right: 0px;
  flex-direction: column;
}
.detail-container-header {
  width: 100%;
  display: flex;
  padding: 24px 20px 8px 20px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.detail-container-title-page {
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.detail-container-text22 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-button01 {
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-primary-60);
}
.detail-container-text24 {
  color: var(--dl-color-neutral-10);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-pagination-dataperpage {
  width: 100%;
  display: flex;
  padding: 16px 20px 16px 12px;
  position: relative;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.detail-container-pagination {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
}
.detail-container-button02 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 4px;
  justify-content: center;
}
.detail-container-arrow-left1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-page {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-60);
}
.detail-container-text26 {
  color: var(--dl-color-neutral-10);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-page1 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.detail-container-text27 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-page2 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.detail-container-text28 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-page3 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.detail-container-text29 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-page4 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.detail-container-text30 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-page5 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.detail-container-text32 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-button03 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-arrow-right {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-dataperpage {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.detail-container-dataperpage1 {
  display: flex;
  padding: 0 0 0 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  background-color: var(--dl-color-primary-20);
}
.detail-container-text34 {
  color: var(--dl-color-primary-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-button04 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-primary-20);
}
.detail-container-arrow-down {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-search-sort {
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.detail-container-search-bar {
  display: flex;
  padding: 8px 8px 8px 20px;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  background-color: var(--dl-color-neutral-10);
}
.detail-container-search {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 4px;
}
.detail-container-text36 {
  color: var(--dl-color-neutral-60);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-button05 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-sort {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-list-data {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  overflow-y: scroll;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.detail-container-list-master-data {
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  border-color: rgba(28, 124, 84, 1);
  border-style: solid;
  border-width: 0 4px 0 0;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  background-color: var(--dl-color-primary-10);
}
.detail-container-text38 {
  color: var(--dl-color-neutral-100);
  width: 100%;
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-list-master-data1 {
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  text-overflow: ellipsis;
}
.detail-container-text39 {
  color: var(--dl-color-neutral-100);
  width: 100%;
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-detail-master-data {
  display: flex;
  padding: 32px 20px;
  z-index: 1;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  overflow-y: scroll;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0px;
  flex-direction: column;
  background-color: var(--dl-color-neutral-10);
}
.detail-container-text40 {
  color: var(--dl-color-neutral-100);
  width: 100%;
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 24px;
}
.detail-container-counterlayanan {
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 24px;
}
.detail-container-text42 {
  color: var(--dl-color-neutral-90);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 16px;
  margin-bottom: 0;
}
.detail-container-button06 {
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  border-color: rgba(28, 124, 84, 1);
  border-style: dashed;
  border-width: 2px;
  justify-content: center;
}
.detail-container-text44 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-daftarcounterlayanan {
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  box-shadow: 12px 12px 12px 0px rgba(222, 222, 222, 0.20000000298023224) ;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.detail-container-daftar-counter {
  gap: 16px;
  width: 100%;
  display: flex;
  padding: 16px 0 16px 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(28, 124, 84, 1);
  border-style: solid;
  border-width: 0 4px 0 0;
  background-color: var(--dl-color-primary-20);
}
.detail-container-counter {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
}
.detail-container-text46 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-text48 {
  color: var(--dl-color-neutral-80);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-bottom: 0;
}
.detail-container-status {
  width: 62px;
  display: flex;
  padding: 0 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-accentcolour_green-60);
}
.detail-container-text50 {
  color: var(--dl-color-neutral-10);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-group-button {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-button07 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
}
.detail-container-edit {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-button08 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
}
.detail-container-delete {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-button09 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-info {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-button10 {
  width: auto;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.detail-container-arrow-right1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-detail-counter-layanan {
  height: 100%;
  display: flex;
  position: relative;
  min-width: 20%;
  align-self: stretch;
  overflow-y: scroll;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 0 1px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.detail-container-counter1 {
  width: 100%;
  display: flex;
  padding: 16px 20px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  margin-bottom: 0px;
  justify-content: space-between;
}
.detail-container-nama-status {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.detail-container-text52 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 8px;
  margin-bottom: 0;
}
.detail-container-status1 {
  display: flex;
  padding: 0 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-accentcolour_green-60);
}
.detail-container-text54 {
  color: var(--dl-color-neutral-10);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-container1 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.detail-container-button11 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
}
.detail-container-edit1 {
  width: 20px;
  height: 20px;
  position: relative;
}
.detail-container-button12 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
}
.detail-container-delete1 {
  width: 20px;
  height: 20px;
  position: relative;
}
.detail-container-button13 {
  height: 40px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.detail-container-info1 {
  width: 20px;
  height: 20px;
  position: relative;
}
.detail-container-tambah-jenislayanan {
  gap: 16px;
  width: 100%;
  display: flex;
  padding: 16px 20px;
  z-index: 1;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: space-between;
}
.detail-container-button14 {
  width: 100%;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  border-color: rgba(28, 124, 84, 1);
  border-style: dashed;
  border-width: 2px;
  justify-content: center;
}
.detail-container-text56 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-text58 {
  color: var(--dl-color-neutral-90);
  width: 100%;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
.detail-container-daftar-jenis-layanan {
  width: 100%;
  display: flex;
  z-index: 2;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.detail-container-jenislayanan {
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.detail-container-container2 {
  gap: 4px;
  width: 100%;
  display: flex;
  padding: 0 20px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  background-color: var(--dl-color-neutral-20);
}
.detail-container-nama-kode {
  display: flex;
  padding: 8px 0;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.detail-container-text60 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 4px;
}
.detail-container-text62 {
  color: var(--dl-color-neutral-90);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-status2 {
  width: auto;
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-text64 {
  color: var(--dl-color-accentcolour_green-60);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-button15 {
  width: auto;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-dots {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-daftar-loket {
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.detail-container-button16 {
  width: 100%;
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: center;
}
.detail-container-text66 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-loket {
  gap: 8px;
  width: 100%;
  display: flex;
  padding: 0 20px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 1px 0 0 0;
}
.detail-container-text68 {
  color: var(--dl-color-neutral-90);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-bottom: 0;
}
.detail-container-button17 {
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-play {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-status3 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-text70 {
  color: var(--dl-color-accentcolour_green-60);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-button18 {
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-color: transparent;
  padding-bottom: 8px;
  justify-content: center;
}
.detail-container-dots1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-button19 {
  top:50%;
  left:0;
  display: flex;
  padding: 12px 0;
  z-index: 3;
  position: absolute;
  box-shadow: 4px 8px 40px 0px rgba(205, 209, 205, 0.20000000298023224) ;
  align-items: center;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.detail-container-arrow-right2 {
  width: 20px;
  height: 20px;
  position: relative;
}
