.monitor-antrian4-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.monitor-antrian4-page {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.monitor-antrian4-sidebar {
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 1px 0 0;
  margin-right: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.monitor-antrian4-logocontainer {
  width: 180px;
  display: flex;
  padding: 0 24px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.monitor-antrian4-logo {
  display: flex;
  padding: 12px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
}
.monitor-antrian4-logo1 {
  width: 21px;
  height: 24px;
  position: relative;
  margin-right: 12px;
}
.monitor-antrian4-text {
  color: var(--dl-color-primary-60);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-menu-bar {
  width: 180px;
  display: flex;
  z-index: 1;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.monitor-antrian4-menu {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.monitor-antrian4-home {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.monitor-antrian4-text02 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-menu1 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.monitor-antrian4-database {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.monitor-antrian4-text04 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-menu2 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.monitor-antrian4-operator {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.monitor-antrian4-text06 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-menu3 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.monitor-antrian4-ticket {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.monitor-antrian4-text08 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-menu4 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(28, 124, 84, 1);
  border-style: solid;
  border-width: 0 4px 0 0;
  margin-bottom: 0px;
  background-color: var(--dl-color-primary-10);
}
.monitor-antrian4-monitor {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.monitor-antrian4-text10 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-menu5 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.monitor-antrian4-audio {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.monitor-antrian4-text12 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-menu6 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.monitor-antrian4-video {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.monitor-antrian4-text14 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-account {
  width: 180px;
  display: flex;
  z-index: 2;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.monitor-antrian4-usercontainer {
  display: flex;
  padding: 0 24px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.monitor-antrian4-user {
  display: flex;
  padding: 12px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
}
.monitor-antrian4-text16 {
  color: var(--dl-color-neutral-70);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-menu7 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.monitor-antrian4-key {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.monitor-antrian4-text18 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-menu8 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.monitor-antrian4-logout {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 8px;
}
.monitor-antrian4-text20 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-button {
  top: 50%;
  right: -16px;
  display: flex;
  padding: 4px;
  z-index: 3;
  position: absolute;
  box-shadow: 4px 8px 40px 0px rgba(205, 209, 205, 0.20000000298023224) ;
  align-items: center;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.monitor-antrian4-arrow-left {
  width: 20px;
  height: 20px;
  position: relative;
}
.monitor-antrian4-dashboard-left-side {
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 1px 0 0;
  margin-right: 0px;
  flex-direction: column;
}
.monitor-antrian4-title-page-button {
  width: 100%;
  display: flex;
  padding: 24px 20px 8px 20px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: space-between;
}
.monitor-antrian4-title-page {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 16px;
}
.monitor-antrian4-text22 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-button01 {
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-primary-60);
}
.monitor-antrian4-text23 {
  color: var(--dl-color-neutral-10);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-pagination-dataperpage {
  width: 100%;
  display: flex;
  padding: 16px 20px 16px 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: space-between;
}
.monitor-antrian4-pagination {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.monitor-antrian4-button02 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 4px;
  justify-content: center;
}
.monitor-antrian4-arrow-left1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.monitor-antrian4-page1 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-60);
}
.monitor-antrian4-text24 {
  color: var(--dl-color-neutral-10);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-page2 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.monitor-antrian4-text25 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-page3 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.monitor-antrian4-text26 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-button03 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.monitor-antrian4-arrow-right {
  width: 24px;
  height: 24px;
  position: relative;
}
.monitor-antrian4-dataperpage {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.monitor-antrian4-frame188 {
  display: flex;
  padding: 0 0 0 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  background-color: var(--dl-color-primary-20);
}
.monitor-antrian4-text27 {
  color: var(--dl-color-primary-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-button04 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-primary-20);
}
.monitor-antrian4-arrow-down {
  width: 24px;
  height: 24px;
  position: relative;
}
.monitor-antrian4-search-sort-filter {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.monitor-antrian4-search-bar {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
}
.monitor-antrian4-search-bar1 {
  display: flex;
  padding: 8px 8px 8px 32px;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  background-color: var(--dl-color-neutral-10);
}
.monitor-antrian4-search {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 4px;
}
.monitor-antrian4-text29 {
  color: var(--dl-color-neutral-60);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-button05 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.monitor-antrian4-sort {
  width: 24px;
  height: 24px;
  position: relative;
}
.monitor-antrian4-list-data {
  display: flex;
  overflow: auto;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.monitor-antrian4-list-mesin-tiket {
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  border-color: rgba(28, 124, 84, 1);
  border-style: solid;
  border-width: 0 4px 0 0;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  background-color: var(--dl-color-primary-10);
}
.monitor-antrian4-unitlayanan-status {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.monitor-antrian4-text31 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-list-mesin-tiket01 {
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  text-overflow: ellipsis;
}
.monitor-antrian4-unitlayanan-status01 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.monitor-antrian4-text33 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-list-mesin-tiket02 {
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  text-overflow: ellipsis;
}
.monitor-antrian4-unitlayanan-status02 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.monitor-antrian4-text35 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-list-mesin-tiket03 {
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  text-overflow: ellipsis;
}
.monitor-antrian4-unitlayanan-status03 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.monitor-antrian4-text37 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-list-mesin-tiket04 {
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  text-overflow: ellipsis;
}
.monitor-antrian4-unitlayanan-status04 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.monitor-antrian4-text39 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-list-mesin-tiket05 {
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  text-overflow: ellipsis;
}
.monitor-antrian4-unitlayanan-status05 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.monitor-antrian4-text41 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-list-mesin-tiket06 {
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  text-overflow: ellipsis;
}
.monitor-antrian4-unitlayanan-status06 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.monitor-antrian4-text43 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-list-mesin-tiket07 {
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  text-overflow: ellipsis;
}
.monitor-antrian4-unitlayanan-status07 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.monitor-antrian4-text45 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-list-mesin-tiket08 {
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  text-overflow: ellipsis;
}
.monitor-antrian4-unitlayanan-status08 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.monitor-antrian4-text47 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-list-mesin-tiket09 {
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  text-overflow: ellipsis;
}
.monitor-antrian4-unitlayanan-status09 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.monitor-antrian4-text49 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-list-mesin-tiket10 {
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  text-overflow: ellipsis;
}
.monitor-antrian4-unitlayanan-status10 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.monitor-antrian4-text51 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-list-mesin-tiket11 {
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  text-overflow: ellipsis;
}
.monitor-antrian4-unitlayanan-status11 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.monitor-antrian4-text53 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-list-mesin-tiket12 {
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  text-overflow: ellipsis;
}
.monitor-antrian4-unitlayanan-status12 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.monitor-antrian4-text55 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-list-mesin-tiket13 {
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  text-overflow: ellipsis;
}
.monitor-antrian4-unitlayanan-status13 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.monitor-antrian4-text57 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-detail-monitor {
  width: 100%;
  height: auto;
  display: flex;
  padding: 24px;
  overflow: auto;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  background-color: var(--dl-color-neutral-10);
}
.monitor-antrian4-unit-layanan {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 20px;
}
.monitor-antrian4-text59 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-container1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 20px;
}
.monitor-antrian4-text61 {
  color: var(--dl-color-neutral-90);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 16px;
  margin-bottom: 0;
}
.monitor-antrian4-button06 {
  display: flex;
  padding: 4px 8px;
  position: relative;
  align-items: center;
  border-color: rgba(28, 124, 84, 1);
  border-style: dashed;
  border-width: 2px;
  justify-content: center;
}
.monitor-antrian4-text63 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-form-ubah-monitor {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  box-shadow: 12px 12px 12px 0px rgba(222, 222, 222, 0.20000000298023224) ;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.monitor-antrian4-nama-monitor {
  display: flex;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  margin-bottom: 0px;
  flex-direction: column;
}
.monitor-antrian4-text65 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 16px;
}
.monitor-antrian4-text66 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-text68 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 16px;
}
.monitor-antrian4-text70 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 16px;
}
.monitor-antrian4-text72 {
  color: var(--dl-color-neutral-80);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.monitor-antrian4-alamat-monitor-status {
  display: flex;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  margin-bottom: 0px;
  justify-content: space-between;
}
.monitor-antrian4-text74 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
}
.monitor-antrian4-status {
  display: flex;
  padding: 8px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.monitor-antrian4-text76 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 8px;
  margin-bottom: 0;
}
.monitor-antrian4-switch {
  width: 48px;
  height: 24px;
  position: relative;
  align-self: stretch;
}
.monitor-antrian4-counter-layanan {
  display: flex;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
}
.monitor-antrian4-tambah-counter-layanan {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 16px;
}
.monitor-antrian4-counter-layanan-max {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 12px;
}
.monitor-antrian4-text78 {
  color: var(--dl-color-neutral-90);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 4px;
  margin-bottom: 0;
}
.monitor-antrian4-text80 {
  color: var(--dl-color-neutral-80);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.monitor-antrian4-button07 {
  display: flex;
  padding: 4px 8px;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-primary-60);
  border-style: dashed;
  border-width: 2px;
  justify-content: center;
}
.monitor-antrian4-text82 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-daftar-counter {
  gap: 8px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.monitor-antrian4-nama-counter {
  display: flex;
  padding: 8px;
  position: relative;
  flex-grow: 1;
  max-width: calc(25% - 6px);
  align-items: center;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px;
}
.monitor-antrian4-button08 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 8px;
  justify-content: center;
}
.monitor-antrian4-close {
  width: 20px;
  height: 20px;
  position: relative;
}
.monitor-antrian4-text84 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-video-monitor {
  gap: 16px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
}
.monitor-antrian4-tambah-counter-layanan1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.monitor-antrian4-text86 {
  color: var(--dl-color-neutral-90);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 12px;
  margin-bottom: 0;
}
.monitor-antrian4-text88 {
  color: var(--dl-color-neutral-70);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 12px;
  margin-bottom: 0;
}
.monitor-antrian4-button09 {
  display: flex;
  padding: 4px 8px;
  position: relative;
  align-items: center;
  border-color: rgba(28, 124, 84, 1);
  border-style: dashed;
  border-width: 2px;
  justify-content: center;
}
.monitor-antrian4-text90 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-row-daftar-video {
  gap: 32px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.monitor-antrian4-daftar-video {
  display: flex;
  position: relative;
  flex-grow: 1;
  max-width: calc(50% - 16px);
  align-items: center;
  border-color: transparent;
}
.monitor-antrian4-button10 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 4px;
  justify-content: center;
}
.monitor-antrian4-close1 {
  width: 20px;
  height: 20px;
  position: relative;
}
.monitor-antrian4-text92 {
  color: var(--dl-color-neutral-90);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-container2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.monitor-antrian4-button11 {
  display: flex;
  padding: 8px 16px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: var(--dl-color-primary-20);
}
.monitor-antrian4-text94 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.monitor-antrian4-button12 {
  display: flex;
  padding: 8px 16px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-primary-60);
}
.monitor-antrian4-text96 {
  color: var(--dl-color-neutral-10);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
