.video-monitor2-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.video-monitor2-page {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.video-monitor2-sidebar {
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 1px 0 0;
  margin-right: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.video-monitor2-logocontainer {
  width: 180px;
  display: flex;
  padding: 0 24px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.video-monitor2-logo {
  display: flex;
  padding: 12px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
}
.video-monitor2-logo1 {
  width: 21px;
  height: 24px;
  position: relative;
  margin-right: 12px;
}
.video-monitor2-text {
  color: var(--dl-color-primary-60);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.video-monitor2-menu-bar {
  width: 180px;
  display: flex;
  z-index: 1;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.video-monitor2-menu {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.video-monitor2-home {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.video-monitor2-text02 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.video-monitor2-menu1 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.video-monitor2-database {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.video-monitor2-text04 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.video-monitor2-menu2 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.video-monitor2-operator {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.video-monitor2-text06 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.video-monitor2-menu3 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.video-monitor2-ticket {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.video-monitor2-text08 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.video-monitor2-menu4 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.video-monitor2-monitor {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.video-monitor2-text10 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.video-monitor2-menu5 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.video-monitor2-audio {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.video-monitor2-text12 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.video-monitor2-menu6 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(28, 124, 84, 1);
  border-style: solid;
  border-width: 0 4px 0 0;
  margin-bottom: 0px;
  background-color: var(--dl-color-primary-10);
}
.video-monitor2-video {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.video-monitor2-text14 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.video-monitor2-account {
  width: 180px;
  display: flex;
  z-index: 2;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.video-monitor2-usercontainer {
  display: flex;
  padding: 0 24px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.video-monitor2-user {
  display: flex;
  padding: 12px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
}
.video-monitor2-text16 {
  color: var(--dl-color-neutral-70);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.video-monitor2-menu7 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.video-monitor2-key {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.video-monitor2-text18 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.video-monitor2-menu8 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.video-monitor2-logout {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 8px;
}
.video-monitor2-text20 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.video-monitor2-button {
  top: 50%;
  right: -16px;
  display: flex;
  padding: 4px;
  z-index: 3;
  position: absolute;
  box-shadow: 4px 8px 40px 0px rgba(205, 209, 205, 0.20000000298023224) ;
  align-items: center;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.video-monitor2-arrow-left {
  width: 20px;
  height: 20px;
  position: relative;
}
.video-monitor2-body {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 24px 24px 0 24px;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.video-monitor2-title-page {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 16px;
}
.video-monitor2-text22 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.video-monitor2-dashboard {
  width: 100%;
  height: 90%;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
}
.video-monitor2-unggah-video {
  width: 320px;
  display: flex;
  padding: 32px 16px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 16px;
  flex-direction: column;
  background-color: var(--dl-color-primary-10);
}
.video-monitor2-mdiinformationoutline {
  top: -20px;
  right: -20px;
  width: 160px;
  height: 160px;
  position: absolute;
  margin-bottom: 16px;
}
.video-monitor2-text23 {
  color: var(--dl-color-neutral-80);
  height: auto;
  z-index: 1;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 16px;
}
.video-monitor2-button1 {
  display: flex;
  padding: 8px 16px;
  z-index: 2;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-primary-60);
}
.video-monitor2-text24 {
  color: var(--dl-color-neutral-10);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.video-monitor2-uploaded-video {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.video-monitor2-searchbar-pagination {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 8px;
}
.video-monitor2-search-bar {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 16px;
}
.video-monitor2-search-bar1 {
  display: flex;
  padding: 8px;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  background-color: var(--dl-color-neutral-20);
}
.video-monitor2-search {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 4px;
}
.video-monitor2-text25 {
  color: var(--dl-color-neutral-60);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.video-monitor2-pagination-dataperpage {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.video-monitor2-pagination {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 16px;
}
.video-monitor2-button2 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 4px;
  justify-content: center;
}
.video-monitor2-arrow-left1 {
  width: 20px;
  height: 20px;
  position: relative;
}
.video-monitor2-page1 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-60);
}
.video-monitor2-text27 {
  color: var(--dl-color-neutral-10);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.video-monitor2-page2 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.video-monitor2-text28 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.video-monitor2-page3 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.video-monitor2-text29 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.video-monitor2-page4 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.video-monitor2-text30 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.video-monitor2-page5 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.video-monitor2-text32 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.video-monitor2-button3 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.video-monitor2-arrow-right {
  width: 20px;
  height: 20px;
  position: relative;
}
.video-monitor2-dataperpage {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.video-monitor2-frame188 {
  display: flex;
  padding: 0 0 0 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  background-color: var(--dl-color-primary-20);
}
.video-monitor2-text33 {
  color: var(--dl-color-primary-100);
  height: auto;
  opacity: 0.70;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.video-monitor2-button4 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-primary-20);
}
.video-monitor2-arrow-down {
  width: 20px;
  height: 20px;
  position: relative;
}
.video-monitor2-container-video {
  gap: 8px;
  display: flex;
  overflow: auto;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.video-monitor2-daftar-video {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: row;
}
.video-monitor2-thumbnail {
  width: 120px;
  height: 67.5px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 16px;
  background-color: rgba(229, 255, 249, 1);
}
.video-monitor2-image16614381520951 {
  top: 7.425000190734863px;
  left: 35.10000228881836px;
  width: 50px;
  height: 108px;
  position: absolute;
  border-color: transparent;
}
.video-monitor2-slide1691 {
  top: 0px;
  left: 0px;
  width: 120px;
  height: 68px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(34, 34, 34, 0.25);
}
.video-monitor2-button5 {
  top: 20px;
  left: 46px;
  width: 28px;
  display: flex;
  padding: 4px;
  position: absolute;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.video-monitor2-play {
  width: 20px;
  height: 20px;
  position: relative;
}
.video-monitor2-deskripsi {
  width: 100%;
  display: flex;
  padding: 0 0 16px 0;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
}
.video-monitor2-judul {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 16px;
  flex-direction: column;
}
.video-monitor2-text35 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 4px;
}
.video-monitor2-text37 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.video-monitor2-cntainer {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.video-monitor2-button6 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
}
.video-monitor2-edit {
  width: 20px;
  height: 20px;
  position: relative;
}
.video-monitor2-button7 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
}
.video-monitor2-delete {
  width: 20px;
  height: 20px;
  position: relative;
}
.video-monitor2-button8 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.video-monitor2-info {
  width: 20px;
  height: 20px;
  position: relative;
}
@media(max-width: 1200px) {
  .video-monitor2-text23 {
    color: var(--dl-color-neutral-80);
  }
}
