.edit-akun-pengguna-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.edit-akun-pengguna-page {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.edit-akun-pengguna-sidebar {
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 1px 0 0;
  margin-right: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.edit-akun-pengguna-logocontainer {
  width: 180px;
  display: flex;
  padding: 0 24px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.edit-akun-pengguna-logo {
  display: flex;
  padding: 12px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
}
.edit-akun-pengguna-logo1 {
  width: 21px;
  height: 24px;
  position: relative;
  margin-right: 12px;
}
.edit-akun-pengguna-text {
  color: var(--dl-color-primary-60);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-menu-bar {
  width: 180px;
  display: flex;
  z-index: 1;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.edit-akun-pengguna-menu {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-akun-pengguna-home {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.edit-akun-pengguna-text02 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-menu1 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-akun-pengguna-database {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.edit-akun-pengguna-text04 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-menu2 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(28, 124, 84, 1);
  border-style: solid;
  border-width: 0 4px 0 0;
  margin-bottom: 0px;
  background-color: var(--dl-color-primary-10);
}
.edit-akun-pengguna-operator {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.edit-akun-pengguna-text06 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-menu3 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-akun-pengguna-ticket {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.edit-akun-pengguna-text08 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-menu4 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-akun-pengguna-monitor {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.edit-akun-pengguna-text10 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-menu5 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-akun-pengguna-audio {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.edit-akun-pengguna-text12 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-menu6 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.edit-akun-pengguna-video {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.edit-akun-pengguna-text14 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-account {
  width: 180px;
  display: flex;
  z-index: 2;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.edit-akun-pengguna-usercontainer {
  display: flex;
  padding: 0 24px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.edit-akun-pengguna-user {
  display: flex;
  padding: 12px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
}
.edit-akun-pengguna-text16 {
  color: var(--dl-color-neutral-70);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-menu7 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-akun-pengguna-key {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.edit-akun-pengguna-text18 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-menu8 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.edit-akun-pengguna-logout {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 8px;
}
.edit-akun-pengguna-text20 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-button {
  top: 50%;
  right: -16px;
  display: flex;
  padding: 4px;
  z-index: 3;
  position: absolute;
  box-shadow: 4px 8px 40px 0px rgba(205, 209, 205, 0.20000000298023224) ;
  align-items: center;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.edit-akun-pengguna-arrow-left {
  width: 20px;
  height: 20px;
  position: relative;
}
.edit-akun-pengguna-master-data {
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 1px 0 0;
  margin-right: 0px;
  flex-direction: column;
}
.edit-akun-pengguna-header {
  width: 100%;
  display: flex;
  padding: 24px 20px 8px 20px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: space-between;
}
.edit-akun-pengguna-text22 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
}
.edit-akun-pengguna-button01 {
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-primary-60);
}
.edit-akun-pengguna-text24 {
  color: var(--dl-color-neutral-10);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-pagination-dataperpage {
  width: 100%;
  display: flex;
  padding: 16px 20px 16px 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: space-between;
}
.edit-akun-pengguna-pagination {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.edit-akun-pengguna-button02 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 4px;
  justify-content: center;
}
.edit-akun-pengguna-arrow-left1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.edit-akun-pengguna-page1 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-60);
}
.edit-akun-pengguna-text26 {
  color: var(--dl-color-neutral-10);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-page2 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.edit-akun-pengguna-text27 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-page3 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.edit-akun-pengguna-text28 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-button03 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.edit-akun-pengguna-arrow-right {
  width: 24px;
  height: 24px;
  position: relative;
}
.edit-akun-pengguna-dataperpage {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.edit-akun-pengguna-dataperpage1 {
  display: flex;
  padding: 0 0 0 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  background-color: var(--dl-color-primary-20);
}
.edit-akun-pengguna-text29 {
  color: var(--dl-color-primary-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-button04 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-primary-20);
}
.edit-akun-pengguna-arrow-down {
  width: 24px;
  height: 24px;
  position: relative;
}
.edit-akun-pengguna-search-sort-filter {
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-akun-pengguna-search-bar {
  display: flex;
  padding: 8px 8px 8px 20px;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  background-color: var(--dl-color-neutral-10);
}
.edit-akun-pengguna-search {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 4px;
}
.edit-akun-pengguna-text31 {
  color: var(--dl-color-neutral-60);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-button05 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
}
.edit-akun-pengguna-sort {
  width: 24px;
  height: 24px;
  position: relative;
}
.edit-akun-pengguna-button06 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.edit-akun-pengguna-filter {
  width: 24px;
  height: 24px;
  position: relative;
}
.edit-akun-pengguna-list-data {
  width: 100%;
  display: flex;
  overflow: auto;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.edit-akun-pengguna-list-akun-pengguna {
  width: 100%;
  display: flex;
  padding: 12px 20px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(28, 124, 84, 1);
  border-style: solid;
  border-width: 0 4px 0 0;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-10);
}
.edit-akun-pengguna-nama-pengguna-status {
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 8px;
}
.edit-akun-pengguna-nama-pengguna {
  display: block;
  overflow: hidden;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.edit-akun-pengguna-text33 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 8px;
  margin-bottom: 0;
}
.edit-akun-pengguna-status {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.edit-akun-pengguna-text35 {
  color: var(--dl-color-accentcolour_green-60);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.edit-akun-pengguna-user-type0 {
  width: 100%;
  display: block;
  overflow: hidden;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.edit-akun-pengguna-text37 {
  color: var(--dl-color-neutral-80);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.edit-akun-pengguna-list-akun-pengguna1 {
  width: 100%;
  display: flex;
  padding: 12px 20px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  flex-direction: column;
  justify-content: center;
}
.edit-akun-pengguna-nama-pengguna-status1 {
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 8px;
}
.edit-akun-pengguna-nama-pengguna1 {
  display: block;
  overflow: hidden;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.edit-akun-pengguna-text39 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 8px;
  margin-bottom: 0;
}
.edit-akun-pengguna-status1 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.edit-akun-pengguna-text41 {
  color: var(--dl-color-accentcolour_green-60);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.edit-akun-pengguna-user-type1 {
  width: 100%;
  display: block;
  overflow: hidden;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.edit-akun-pengguna-text43 {
  color: var(--dl-color-neutral-80);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.edit-akun-pengguna-detail-akun {
  height: 100%;
  display: flex;
  padding: 0 32px;
  overflow: auto;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  background-color: var(--dl-color-neutral-10);
}
.edit-akun-pengguna-form-edit-akun {
  gap: 16px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 32px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.edit-akun-pengguna-indentitas-operator {
  gap: 20px;
  display: flex;
  padding: 32px 0 16px 0;
  position: relative;
  min-width: 50%;
  align-items: flex-end;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.edit-akun-pengguna-text45 {
  color: rgba(34, 34, 34, 1);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  text-decoration: none;
}
.edit-akun-pengguna-email {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.edit-akun-pengguna-text47 {
  color: var(--dl-color-neutral-80);
  width: 120px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 16px;
  margin-bottom: 0;
}
.edit-akun-pengguna-text49 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-username {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.edit-akun-pengguna-text51 {
  color: var(--dl-color-neutral-80);
  width: 120px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 16px;
  margin-bottom: 0;
}
.edit-akun-pengguna-counter {
  gap: 4px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.edit-akun-pengguna-inputusername {
  color: rgba(40, 40, 40, 1);
  display: flex;
  padding: 0 0 8px 0;
  position: relative;
  font-size: 16px;
  align-self: stretch;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 400;
  border-color: rgba(212, 212, 212, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  margin-bottom: 4px;
}
.edit-akun-pengguna-text53 {
  color: var(--dl-color-neutral-80);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.edit-akun-pengguna-kata-sandi {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.edit-akun-pengguna-text55 {
  color: var(--dl-color-neutral-80);
  width: 120px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 16px;
  margin-bottom: 0;
}
.edit-akun-pengguna-button07 {
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-primary-20);
}
.edit-akun-pengguna-text57 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-status2 {
  display: flex;
  padding: 8px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.edit-akun-pengguna-text59 {
  color: var(--dl-color-neutral-80);
  width: 120px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 16px;
  margin-bottom: 0;
}
.edit-akun-pengguna-switch {
  width: 48px;
  height: 24px;
  position: relative;
}
.edit-akun-pengguna-grouped-button-button {
  display: flex;
  position: relative;
  min-width: 80%;
  align-items: flex-end;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: row;
}
.edit-akun-pengguna-button08 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: var(--dl-color-primary-20);
}
.edit-akun-pengguna-text61 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-button09 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-primary-60);
}
.edit-akun-pengguna-text63 {
  color: var(--dl-color-neutral-10);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-user-type-akses-counter {
  gap: 24px;
  width: 100%;
  display: flex;
  padding: 32px 0;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-akun-pengguna-user-type {
  display: flex;
  position: relative;
  flex-grow: 1;
  max-width: 50%;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-neutral-30);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.edit-akun-pengguna-header-user-type {
  width: 100%;
  display: flex;
  padding: 12px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.edit-akun-pengguna-text65 {
  color: var(--dl-color-neutral-90);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
.edit-akun-pengguna-button10 {
  display: flex;
  padding: 4px 8px;
  position: relative;
  align-items: center;
  border-color: rgba(28, 124, 84, 1);
  border-style: dashed;
  border-width: 2px;
  justify-content: center;
}
.edit-akun-pengguna-text67 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-container-user-type {
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.edit-akun-pengguna-listusertype {
  width: 100%;
  display: flex;
  padding: 8px 12px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-neutral-30);
  border-style: solid;
  border-width: 1px 0 0 0;
}
.edit-akun-pengguna-name {
  width: 100%;
  display: block;
  overflow: hidden;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.edit-akun-pengguna-text69 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-bottom: 0;
}
.edit-akun-pengguna-button11 {
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.edit-akun-pengguna-delete {
  width: 24px;
  height: 24px;
  position: relative;
}
.edit-akun-pengguna-akses-counter {
  wisth: 1;
  display: flex;
  padding: 1px;
  position: relative;
  flex-grow: 1;
  max-width: 50%;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-neutral-30);
  border-style: solid;
  border-width: 1px;
  align-content: 1;
  flex-direction: column;
}
.edit-akun-pengguna-header-akses-counter {
  width: 100%;
  display: flex;
  padding: 12px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.edit-akun-pengguna-text71 {
  color: var(--dl-color-neutral-90);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
.edit-akun-pengguna-button12 {
  display: flex;
  padding: 4px 8px;
  position: relative;
  align-items: center;
  border-color: rgba(28, 124, 84, 1);
  border-style: dashed;
  border-width: 2px;
  justify-content: center;
}
.edit-akun-pengguna-text73 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-container-akses-counter {
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.edit-akun-pengguna-listaksescounter {
  gap: 8px;
  width: 100%;
  display: flex;
  padding: 8px 12px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-neutral-30);
  border-style: solid;
  border-width: 1px 0 0 0;
}
.edit-akun-pengguna-counter-unitlayanan {
  width: max-content;
  display: flex;
  padding: 8px 0;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.edit-akun-pengguna-counter1 {
  width: 100%;
  display: block;
  overflow: hidden;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.edit-akun-pengguna-text75 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 4px;
}
.edit-akun-pengguna-unit-layanan {
  width: 100%;
  display: block;
  overflow: hidden;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.edit-akun-pengguna-text77 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-akun-pengguna-button13 {
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.edit-akun-pengguna-delete1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.edit-akun-pengguna-tanggaldibuatdandiupdate {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.edit-akun-pengguna-text79 {
  color: rgba(136, 136, 136, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.edit-akun-pengguna-text80 {
  color: var(--dl-color-neutral-70);
}
.edit-akun-pengguna-text82 {
  color: rgba(136, 136, 136, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.edit-akun-pengguna-text83 {
  color: var(--dl-color-neutral-70);
}
