.edit-counter-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.edit-counter-page {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.edit-counter-sidebar {
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 1px 0 0;
  margin-right: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.edit-counter-logocontainer {
  width: 180px;
  display: flex;
  padding: 0 24px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.edit-counter-logo {
  display: flex;
  padding: 12px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
}
.edit-counter-logo1 {
  width: 21px;
  height: 24px;
  position: relative;
  margin-right: 12px;
}
.edit-counter-text {
  color: var(--dl-color-primary-60);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-menu-bar {
  width: 180px;
  display: flex;
  z-index: 1;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.edit-counter-menu {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-counter-home {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.edit-counter-text002 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-menu1 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(28, 124, 84, 1);
  border-style: solid;
  border-width: 0 4px 0 0;
  margin-bottom: 0px;
  background-color: var(--dl-color-primary-10);
}
.edit-counter-database {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.edit-counter-text004 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-menu2 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-counter-operator {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.edit-counter-text006 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-menu3 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-counter-ticket {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.edit-counter-text008 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-menu4 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-counter-monitor {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.edit-counter-text010 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-menu5 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-counter-audio {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.edit-counter-text012 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-menu6 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.edit-counter-video {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.edit-counter-text014 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-account {
  width: 180px;
  display: flex;
  z-index: 2;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.edit-counter-usercontainer {
  display: flex;
  padding: 0 24px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.edit-counter-user {
  display: flex;
  padding: 12px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
}
.edit-counter-text016 {
  color: var(--dl-color-neutral-70);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-menu7 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-counter-key {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.edit-counter-text018 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-menu8 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.edit-counter-logout {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 8px;
}
.edit-counter-text020 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-button {
  top: 50%;
  right: -16px;
  display: flex;
  padding: 4px;
  z-index: 3;
  position: absolute;
  box-shadow: 4px 8px 40px 0px rgba(205, 209, 205, 0.20000000298023224) ;
  align-items: center;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.edit-counter-arrow-left {
  width: 20px;
  height: 20px;
  position: relative;
}
.edit-counter-master-data {
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 1px 0 0;
  margin-right: 0px;
  flex-direction: column;
}
.edit-counter-header {
  width: 100%;
  display: flex;
  padding: 24px 20px 8px 20px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-counter-title-page {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.edit-counter-text022 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-button01 {
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-primary-60);
}
.edit-counter-text024 {
  color: var(--dl-color-neutral-10);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-pagination-dataperpage {
  width: 100%;
  display: flex;
  padding: 16px 20px 16px 8px;
  position: relative;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-counter-pagination {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 16px;
}
.edit-counter-button02 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 4px;
  justify-content: center;
}
.edit-counter-arrow-left1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.edit-counter-page1 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-60);
}
.edit-counter-text026 {
  color: var(--dl-color-neutral-10);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-page2 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.edit-counter-text027 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-page3 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.edit-counter-text028 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-page4 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.edit-counter-text029 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-page5 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.edit-counter-text030 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-page6 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.edit-counter-text032 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-button03 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.edit-counter-arrow-right {
  width: 24px;
  height: 24px;
  position: relative;
}
.edit-counter-dataperpage {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.edit-counter-dataperpage1 {
  display: flex;
  padding: 0 0 0 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  background-color: var(--dl-color-primary-20);
}
.edit-counter-text034 {
  color: var(--dl-color-primary-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-button04 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-primary-20);
}
.edit-counter-arrow-down {
  width: 24px;
  height: 24px;
  position: relative;
}
.edit-counter-search-sort {
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-counter-search-bar {
  display: flex;
  padding: 8px 8px 8px 20px;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  background-color: var(--dl-color-neutral-10);
}
.edit-counter-search {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 4px;
}
.edit-counter-text036 {
  color: var(--dl-color-neutral-60);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-button05 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.edit-counter-sort {
  width: 24px;
  height: 24px;
  position: relative;
}
.edit-counter-list-data {
  width: 100%;
  display: flex;
  overflow: auto;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.edit-counter-list-master-data {
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  border-color: rgba(28, 124, 84, 1);
  border-style: solid;
  border-width: 0 4px 0 0;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  background-color: var(--dl-color-primary-10);
}
.edit-counter-text038 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-list-master-data1 {
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  text-overflow: ellipsis;
}
.edit-counter-text040 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-detail-master-data {
  display: flex;
  padding: 32px 20px;
  overflow: auto;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  background-color: var(--dl-color-neutral-10);
}
.edit-counter-text042 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 24px;
}
.edit-counter-counterlayanan {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 24px;
}
.edit-counter-text044 {
  color: var(--dl-color-neutral-90);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 12px;
  margin-bottom: 0;
}
.edit-counter-button06 {
  display: flex;
  padding: 4px 8px;
  position: relative;
  align-items: center;
  border-color: rgba(28, 124, 84, 1);
  border-style: dashed;
  border-width: 2px;
  justify-content: center;
}
.edit-counter-text046 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-formcounterlayanan {
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.edit-counter-ubah-counter {
  display: flex;
  padding: 16px 20px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
}
.edit-counter-text048 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-counter {
  gap: 8px;
  width: 100%;
  display: flex;
  padding: 0 20px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
}
.edit-counter-input-counter-name {
  color: rgba(40, 40, 40, 1);
  display: flex;
  padding: 0 0 8px 0;
  position: relative;
  flex-grow: 1;
  font-size: 24px;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 400;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  flex-direction: column;
}
.edit-counter-kode {
  gap: 8px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.edit-counter-text050 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
}
.edit-counter-switch {
  width: 48px;
  height: 24px;
  position: relative;
}
.edit-counter-tambah-jenis-layanan {
  display: flex;
  padding: 16px 20px 20px 20px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-counter-text052 {
  color: var(--dl-color-neutral-90);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 12px;
  margin-bottom: 0;
}
.edit-counter-button07 {
  display: flex;
  padding: 4px 8px;
  position: relative;
  align-items: center;
  border-color: rgba(28, 124, 84, 1);
  border-style: dashed;
  border-width: 2px;
  justify-content: center;
}
.edit-counter-text054 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-containerjenislayanan {
  gap: 8px;
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.edit-counter-row-jenislayanan {
  gap: 16px;
  width: 100%;
  display: flex;
  padding: 0 12px 0 20px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.edit-counter-group-jenislayanan {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  max-width: calc(25% - 16px);
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px;
}
.edit-counter-containerbutton {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 1px 0 0;
  margin-right: 0px;
  justify-content: center;
}
.edit-counter-button08 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.edit-counter-close {
  width: 20px;
  height: 20px;
  position: relative;
}
.edit-counter-jenislayanan {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.edit-counter-title-kode {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.edit-counter-title {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  margin-bottom: 0px;
}
.edit-counter-text056 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-kode01 {
  display: flex;
  padding: 0 0 0 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-counter-text058 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 8px;
  margin-bottom: 0;
}
.edit-counter-frame273 {
  display: flex;
  padding: 8px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
}
.edit-counter-text060 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-kode02 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  justify-content: space-between;
}
.edit-counter-text061 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
}
.edit-counter-switch1 {
  width: 48px;
  height: 24px;
  position: relative;
}
.edit-counter-button09 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 0px;
  justify-content: center;
}
.edit-counter-text063 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-containerloket {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.edit-counter-loket {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px 0 0 0;
}
.edit-counter-button10 {
  display: flex;
  padding: 4px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-neutral-30);
  margin-right: 0px;
  justify-content: center;
}
.edit-counter-minus {
  width: 20px;
  height: 20px;
  position: relative;
}
.edit-counter-namaaudio {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 0 1px;
  flex-direction: column;
}
.edit-counter-nama {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  margin-bottom: 0px;
}
.edit-counter-text065 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-audio1 {
  gap: 8px;
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-counter-speaker {
  width: 20px;
  height: 20px;
  position: relative;
}
.edit-counter-text067 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-bottom: 0;
}
.edit-counter-chevron-down-filled {
  width: 24px;
  height: 24px;
  position: relative;
}
.edit-counter-kode03 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px 0 0 0;
  justify-content: space-between;
}
.edit-counter-text069 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
}
.edit-counter-switch2 {
  width: 48px;
  height: 24px;
  position: relative;
}
.edit-counter-group-jenislayanan1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  max-width: calc(25% - 16px);
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px;
}
.edit-counter-containerbutton1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 1px 0 0;
  margin-right: 0px;
  justify-content: center;
}
.edit-counter-button11 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.edit-counter-close1 {
  width: 20px;
  height: 20px;
  position: relative;
}
.edit-counter-jenislayanan1 {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.edit-counter-title-kode1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.edit-counter-title1 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  margin-bottom: 0px;
}
.edit-counter-text071 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-kode04 {
  display: flex;
  padding: 0 0 0 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-counter-text073 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 8px;
  margin-bottom: 0;
}
.edit-counter-frame2731 {
  display: flex;
  padding: 8px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
}
.edit-counter-text075 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-kode05 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  justify-content: space-between;
}
.edit-counter-text076 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
}
.edit-counter-switch3 {
  width: 48px;
  height: 24px;
  position: relative;
}
.edit-counter-button12 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 0px;
  justify-content: center;
}
.edit-counter-text078 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-containerloket1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.edit-counter-loket1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px 0 0 0;
}
.edit-counter-button13 {
  display: flex;
  padding: 4px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-neutral-30);
  margin-right: 0px;
  justify-content: center;
}
.edit-counter-minus1 {
  width: 20px;
  height: 20px;
  position: relative;
}
.edit-counter-namaaudio1 {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 0 1px;
  flex-direction: column;
}
.edit-counter-nama1 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  margin-bottom: 0px;
}
.edit-counter-text080 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-audio2 {
  gap: 8px;
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-counter-speaker1 {
  width: 20px;
  height: 20px;
  position: relative;
}
.edit-counter-text082 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-bottom: 0;
}
.edit-counter-chevron-down-filled1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.edit-counter-kode06 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px 0 0 0;
  justify-content: space-between;
}
.edit-counter-text084 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
}
.edit-counter-switch4 {
  width: 48px;
  height: 24px;
  position: relative;
}
.edit-counter-group-jenislayanan2 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  max-width: calc(25% - 16px);
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px;
}
.edit-counter-containerbutton2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 1px 0 0;
  margin-right: 0px;
  justify-content: center;
}
.edit-counter-button14 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.edit-counter-close2 {
  width: 20px;
  height: 20px;
  position: relative;
}
.edit-counter-jenislayanan2 {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.edit-counter-title-kode2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.edit-counter-title2 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  margin-bottom: 0px;
}
.edit-counter-text086 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-kode07 {
  display: flex;
  padding: 0 0 0 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-counter-text088 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 8px;
  margin-bottom: 0;
}
.edit-counter-frame2732 {
  display: flex;
  padding: 8px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
}
.edit-counter-text090 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-kode08 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  justify-content: space-between;
}
.edit-counter-text091 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
}
.edit-counter-switch5 {
  width: 48px;
  height: 24px;
  position: relative;
}
.edit-counter-button15 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 0px;
  justify-content: center;
}
.edit-counter-text093 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-containerloket2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.edit-counter-loket2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px 0 0 0;
}
.edit-counter-button16 {
  display: flex;
  padding: 4px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-neutral-30);
  margin-right: 0px;
  justify-content: center;
}
.edit-counter-minus2 {
  width: 20px;
  height: 20px;
  position: relative;
}
.edit-counter-namaaudio2 {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 0 1px;
  flex-direction: column;
}
.edit-counter-nama2 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  margin-bottom: 0px;
}
.edit-counter-text095 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-audio3 {
  gap: 8px;
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-counter-speaker2 {
  width: 20px;
  height: 20px;
  position: relative;
}
.edit-counter-text097 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-bottom: 0;
}
.edit-counter-chevron-down-filled2 {
  width: 24px;
  height: 24px;
  position: relative;
}
.edit-counter-kode09 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px 0 0 0;
  justify-content: space-between;
}
.edit-counter-text099 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
}
.edit-counter-switch6 {
  width: 48px;
  height: 24px;
  position: relative;
}
.edit-counter-group-jenislayanan3 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  max-width: calc(25% - 16px);
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px;
}
.edit-counter-containerbutton3 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 1px 0 0;
  margin-right: 0px;
  justify-content: center;
}
.edit-counter-button17 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.edit-counter-close3 {
  width: 20px;
  height: 20px;
  position: relative;
}
.edit-counter-jenislayanan3 {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.edit-counter-title-kode3 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.edit-counter-title3 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  margin-bottom: 0px;
}
.edit-counter-text101 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-kode10 {
  display: flex;
  padding: 0 0 0 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-counter-text103 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 8px;
  margin-bottom: 0;
}
.edit-counter-frame2733 {
  display: flex;
  padding: 8px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
}
.edit-counter-text105 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-kode11 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  justify-content: space-between;
}
.edit-counter-text106 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
}
.edit-counter-switch7 {
  width: 48px;
  height: 24px;
  position: relative;
}
.edit-counter-button18 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 0px;
  justify-content: center;
}
.edit-counter-text108 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-containerloket3 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.edit-counter-loket3 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px 0 0 0;
}
.edit-counter-button19 {
  display: flex;
  padding: 4px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-neutral-30);
  margin-right: 0px;
  justify-content: center;
}
.edit-counter-minus3 {
  width: 20px;
  height: 20px;
  position: relative;
}
.edit-counter-namaaudio3 {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 0 1px;
  flex-direction: column;
}
.edit-counter-nama3 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  margin-bottom: 0px;
}
.edit-counter-text110 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-audio4 {
  gap: 8px;
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.edit-counter-speaker3 {
  width: 20px;
  height: 20px;
  position: relative;
}
.edit-counter-text112 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-bottom: 0;
}
.edit-counter-chevron-down-filled3 {
  width: 24px;
  height: 24px;
  position: relative;
}
.edit-counter-kode12 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px 0 0 0;
  justify-content: space-between;
}
.edit-counter-text114 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
}
.edit-counter-switch8 {
  width: 48px;
  height: 24px;
  position: relative;
}
.edit-counter-containerbutton4 {
  display: flex;
  padding: 16px 0 0 0;
  position: relative;
  align-self: stretch;
  align-items: flex-end;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.edit-counter-grouped-button-button {
  width: 500px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.edit-counter-button20 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: var(--dl-color-primary-20);
}
.edit-counter-text116 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.edit-counter-button21 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-primary-60);
}
.edit-counter-text118 {
  color: var(--dl-color-neutral-10);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
