.detail-container-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
}
.detail-container-page {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.detail-container-sidebar {
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 1px 0 0;
  margin-right: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.detail-container-logocontainer {
  width: 180px;
  display: flex;
  padding: 0 24px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.detail-container-logo {
  display: flex;
  padding: 12px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.detail-container-logo1 {
  width: 21px;
  height: 24px;
  position: relative;
  margin-right: 12px;
}
.detail-container-text {
  color: var(--dl-color-primary-60);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-menu-bar {
  width: 180px;
  display: flex;
  z-index: 1;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.detail-container-menu {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.detail-container-home {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.detail-container-text002 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-menu1 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(28, 124, 84, 1);
  border-style: solid;
  border-width: 0 4px 0 0;
  margin-bottom: 0px;
  background-color: var(--dl-color-primary-10);
}
.detail-container-database {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.detail-container-text004 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-menu2 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.detail-container-operator {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.detail-container-text006 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-menu3 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.detail-container-ticket {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.detail-container-text008 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-menu4 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.detail-container-monitor {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.detail-container-text010 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-menu5 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.detail-container-audio {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.detail-container-text012 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-menu6 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.detail-container-video {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.detail-container-text014 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-account {
  width: 180px;
  display: flex;
  z-index: 2;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.detail-container-usercontainer {
  display: flex;
  padding: 0 24px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.detail-container-user {
  display: flex;
  padding: 12px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.detail-container-text016 {
  color: var(--dl-color-neutral-70);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-menu7 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.detail-container-key {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.detail-container-text018 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-menu8 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.detail-container-logout {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 8px;
}
.detail-container-text020 {
  color: var(--dl-color-neutral-80);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-button {
  top: 50%;
  right: -16;
  display: flex;
  padding: 4px;
  z-index: 3;
  position: absolute;
  box-shadow: 4px 8px 40px 0px rgba(205, 209, 205, 0.20000000298023224) ;
  align-items: center;
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.detail-container-arrow-left {
  width: 20px;
  height: 20px;
  position: relative;
}
.detail-container-master-data {
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 1px 0 0;
  margin-right: 0px;
  flex-direction: column;
}
.detail-container-header {
  width: 100%;
  display: flex;
  padding: 24px 20px 8px 20px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.detail-container-title-page {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.detail-container-text022 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-button01 {
  width: auto;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-primary-60);
}
.detail-container-text024 {
  color: var(--dl-color-neutral-10);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-pagination-dataperpage {
  width: 100%;
  display: flex;
  padding: 8px 20px 16px 20px;
  position: relative;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.detail-container-pagination {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 16px;
}
.detail-container-button02 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 4px;
  justify-content: center;
}
.detail-container-arrow-left1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-page1 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-60);
}
.detail-container-text026 {
  color: var(--dl-color-neutral-10);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-page2 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.detail-container-text027 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-page3 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.detail-container-text028 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-page4 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.detail-container-text029 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-page5 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.detail-container-text030 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-page6 {
  width: 25px;
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 4px;
  flex-direction: column;
  justify-content: center;
}
.detail-container-text032 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-button03 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-arrow-right {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-dataperpage {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.detail-container-dataperpage1 {
  display: flex;
  padding: 0 0 0 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  background-color: var(--dl-color-primary-20);
}
.detail-container-text034 {
  color: var(--dl-color-primary-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-button04 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-primary-20);
}
.detail-container-arrow-down {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-search-sort {
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.detail-container-search-bar {
  display: flex;
  padding: 8px 8px 8px 20px;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  background-color: var(--dl-color-neutral-10);
}
.detail-container-search {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 4px;
}
.detail-container-text036 {
  color: var(--dl-color-neutral-60);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-button05 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-sort {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-list-data {
  width: 100%;
  display: flex;
  overflow: auto;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.detail-container-list-master-data {
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  border-color: rgba(28, 124, 84, 1);
  border-style: solid;
  border-width: 0 4px 0 0;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  background-color: var(--dl-color-primary-10);
}
.detail-container-text038 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-list-master-data1 {
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  text-overflow: ellipsis;
}
.detail-container-text040 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-detail-master-data {
  display: flex;
  padding: 32px 20px;
  overflow: auto;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  background-color: var(--dl-color-neutral-10);
}
.detail-container-text042 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 120.00000476837158%;
  margin-right: 0;
  margin-bottom: 24px;
}
.detail-container-counterlayanan {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 24px;
}
.detail-container-text044 {
  color: var(--dl-color-neutral-90);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 12px;
  margin-bottom: 0;
}
.detail-container-button06 {
  display: flex;
  padding: 4px 8px;
  position: relative;
  align-items: center;
  border-color: rgba(28, 124, 84, 1);
  border-style: dashed;
  border-width: 2px;
  justify-content: center;
}
.detail-container-text046 {
  color: var(--dl-color-primary-60);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-counterlayanan1 {
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.detail-container-title {
  display: flex;
  padding: 16px 16px 16px 4px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 0 0 1px 0;
  margin-bottom: 0px;
  justify-content: space-between;
}
.detail-container-counter-status {
  gap: 8px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.detail-container-button07 {
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.detail-container-arrow-left2 {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-text048 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-bottom: 0;
}
.detail-container-status {
  display: flex;
  padding: 0 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-accentcolour_green-60);
}
.detail-container-text050 {
  color: var(--dl-color-neutral-10);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-container1 {
  gap: 8px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.detail-container-button08 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
}
.detail-container-edit {
  width: 20px;
  height: 20px;
  position: relative;
}
.detail-container-button09 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-delete {
  width: 20px;
  height: 20px;
  position: relative;
}
.detail-container-label-jenislayanan {
  display: flex;
  padding: 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.detail-container-text052 {
  color: var(--dl-color-neutral-90);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.detail-container-container-jenislayanan {
  gap: 16px;
  display: flex;
  padding: 0 16px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.detail-container-row-jenis-layanan {
  gap: 8px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.detail-container-jenis-layanan {
  display: flex;
  position: relative;
  flex-grow: 1;
  max-width: calc(25% - 8px);
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.detail-container-title-kode {
  display: flex;
  padding: 8px 12px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-neutral-20);
}
.detail-container-text054 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 4px;
}
.detail-container-kode-status {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.detail-container-text056 {
  color: var(--dl-color-neutral-90);
  width: 256px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
.detail-container-status01 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-text058 {
  color: var(--dl-color-accentcolour_green-60);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-containerloket {
  display: flex;
  padding: 4px 12px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.detail-container-text060 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 8px;
  margin-bottom: 0;
}
.detail-container-button10 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 8px;
  justify-content: center;
}
.detail-container-play {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-status02 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-text062 {
  color: var(--dl-color-accentcolour_green-60);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-jenis-layanan1 {
  display: flex;
  position: relative;
  flex-grow: 1;
  max-width: calc(25% - 8px);
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.detail-container-title-kode1 {
  display: flex;
  padding: 8px 12px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-neutral-20);
}
.detail-container-text064 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 4px;
}
.detail-container-kode-status1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.detail-container-text066 {
  color: var(--dl-color-neutral-90);
  width: 256px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
.detail-container-status03 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-text068 {
  color: var(--dl-color-accentcolour_green-60);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-containerloket1 {
  display: flex;
  padding: 4px 12px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.detail-container-text070 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 8px;
  margin-bottom: 0;
}
.detail-container-button11 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 8px;
  justify-content: center;
}
.detail-container-play1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-status04 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-text072 {
  color: var(--dl-color-accentcolour_green-60);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-jenis-layanan2 {
  display: flex;
  position: relative;
  flex-grow: 1;
  max-width: calc(25% - 8px);
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.detail-container-title-kode2 {
  display: flex;
  padding: 8px 12px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-neutral-20);
}
.detail-container-text074 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 4px;
}
.detail-container-kode-status2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.detail-container-text076 {
  color: var(--dl-color-neutral-90);
  width: 256px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
.detail-container-status05 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-text078 {
  color: var(--dl-color-accentcolour_green-60);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-containerloket2 {
  display: flex;
  padding: 4px 12px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.detail-container-text080 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 8px;
  margin-bottom: 0;
}
.detail-container-button12 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 8px;
  justify-content: center;
}
.detail-container-play2 {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-status06 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-text082 {
  color: var(--dl-color-accentcolour_green-60);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-jenis-layanan3 {
  display: flex;
  position: relative;
  flex-grow: 1;
  max-width: calc(25% - 8px);
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.detail-container-title-kode3 {
  display: flex;
  padding: 8px 12px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-neutral-20);
}
.detail-container-text084 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 4px;
}
.detail-container-kode-status3 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.detail-container-text086 {
  color: var(--dl-color-neutral-90);
  width: 256px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
.detail-container-status07 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-text088 {
  color: var(--dl-color-accentcolour_green-60);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-containerloket3 {
  display: flex;
  padding: 4px 12px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.detail-container-text090 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 8px;
  margin-bottom: 0;
}
.detail-container-button13 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 8px;
  justify-content: center;
}
.detail-container-play3 {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-status08 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-text092 {
  color: var(--dl-color-accentcolour_green-60);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-row-jenis-layanan1 {
  gap: 8px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.detail-container-jenis-layanan4 {
  display: flex;
  position: relative;
  flex-grow: 1;
  max-width: calc(25% - 8px);
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.detail-container-title-kode4 {
  display: flex;
  padding: 8px 12px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-neutral-20);
}
.detail-container-text094 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 4px;
}
.detail-container-kode-status4 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.detail-container-text096 {
  color: var(--dl-color-neutral-90);
  width: 256px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
.detail-container-status09 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-text098 {
  color: var(--dl-color-accentcolour_green-60);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-containerloket4 {
  display: flex;
  padding: 4px 12px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.detail-container-text100 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 8px;
  margin-bottom: 0;
}
.detail-container-button14 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 8px;
  justify-content: center;
}
.detail-container-play4 {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-status10 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-text102 {
  color: var(--dl-color-accentcolour_green-60);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-jenis-layanan5 {
  display: flex;
  position: relative;
  flex-grow: 1;
  max-width: calc(25% - 8px);
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.detail-container-title-kode5 {
  display: flex;
  padding: 8px 12px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-neutral-20);
}
.detail-container-text104 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 4px;
}
.detail-container-kode-status5 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.detail-container-text106 {
  color: var(--dl-color-neutral-90);
  width: 256px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
.detail-container-status11 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-text108 {
  color: var(--dl-color-accentcolour_green-60);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-containerloket5 {
  display: flex;
  padding: 4px 12px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.detail-container-text110 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 8px;
  margin-bottom: 0;
}
.detail-container-button15 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 8px;
  justify-content: center;
}
.detail-container-play5 {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-status12 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-text112 {
  color: var(--dl-color-accentcolour_green-60);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-jenis-layanan6 {
  display: flex;
  position: relative;
  flex-grow: 1;
  max-width: calc(25% - 8px);
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.detail-container-title-kode6 {
  display: flex;
  padding: 8px 12px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-neutral-20);
}
.detail-container-text114 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 4px;
}
.detail-container-kode-status6 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.detail-container-text116 {
  color: var(--dl-color-neutral-90);
  width: 256px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
.detail-container-status13 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-text118 {
  color: var(--dl-color-accentcolour_green-60);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-containerloket6 {
  display: flex;
  padding: 4px 12px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.detail-container-text120 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 8px;
  margin-bottom: 0;
}
.detail-container-button16 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 8px;
  justify-content: center;
}
.detail-container-play6 {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-status14 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-text122 {
  color: var(--dl-color-accentcolour_green-60);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-jenis-layanan7 {
  display: flex;
  position: relative;
  flex-grow: 1;
  max-width: calc(25% - 8px);
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.detail-container-title-kode7 {
  display: flex;
  padding: 8px 12px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-neutral-20);
}
.detail-container-text124 {
  color: var(--dl-color-neutral-100);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 4px;
}
.detail-container-kode-status7 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.detail-container-text126 {
  color: var(--dl-color-neutral-90);
  width: 256px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
.detail-container-status15 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-text128 {
  color: var(--dl-color-accentcolour_green-60);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-containerloket7 {
  display: flex;
  padding: 4px 12px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.detail-container-text130 {
  color: var(--dl-color-neutral-100);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 150%;
  margin-right: 8px;
  margin-bottom: 0;
}
.detail-container-button17 {
  display: flex;
  padding: 4px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 8px;
  justify-content: center;
}
.detail-container-play7 {
  width: 24px;
  height: 24px;
  position: relative;
}
.detail-container-status16 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.detail-container-text132 {
  color: var(--dl-color-accentcolour_green-60);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-tanggaldibuatdandiupdate {
  gap: 8px;
  width: 100%;
  display: flex;
  padding: 16px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.detail-container-text134 {
  color: rgba(136, 136, 136, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  text-decoration: none;
}
.detail-container-text135 {
  color: var(--dl-color-neutral-70);
}
.detail-container-text137 {
  color: rgba(136, 136, 136, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.detail-container-text138 {
  color: var(--dl-color-neutral-70);
}
